@model EAD_Assignment_3.Models.User
<html>
<head>
    <title>Edit User</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
</head>

<body>
    <form method="post" asp-action="Edit">

        <div asp-validation-summary="ModelOnly"></div>

        <div>
            <label class="form-label" asp-for="Id"></label><br>
            <input class="form-control" asp-for="Id" readonly><br>

        </div>

        <div>
            <label class="form-label" asp-for="Name"></label><br>
            <input class="form-control" asp-for="Name"><br>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label class="form-label" asp-for="Email"></label><br>
            <input class="form-control" asp-for="Email"><br>
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label class="form-label" asp-for="Password"></label><br>
            <input class="form-control" asp-for="Password"><br>
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label class="form-label" asp-for="Retype_Password"></label><br>
            <input class="form-control" asp-for="Retype_Password"><br>
            <span asp-validation-for="Retype_Password"></span>
        </div>
        <input class="btn btn-dark" type="submit" value="Update" />

    </form>
</body>
</html>