@using EAD_Assignment_3.Models
@model User
<html>
<head>
    <title>SignIn/SignUp</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
</head>

<body>

    <a class="btn-primary" asp-controller="User" asp-action="SignUp">Sign Up</a>
    <a class="btn-primary" asp-controller="User" asp-action="SignIn">Sign In</a>
</body>
</html>